<section id="content" class="section service-area overflow-hidden ptb_180">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-6 order-2 order-lg-1">
                <!-- Service Text -->
                <div class="service-text pt-4 pt-lg-0">
                    <h2 class="text-capitalize mb-4">¿Qué entendemos por Cultura Sorda?
                    </h2>
                    <!-- Service List -->
                    <ul class="service-list">
                        <!-- Single Service -->
                        <li class="single-service media py-2">
                            <div class="service-icon pr-4">
                                <span><i class="fas fa-american-sign-language-interpreting"></i></span>
                            </div>
                            <div class="service-text media-body">
                                <p>La Comunidad Sorda es un grupo social, la Lengua de señas (Lengua Propia) = no es
                                    Universal. Lengua propia = desarrollo de costumbres, valores propios y tradiciones.
                                </p>
                            </div>
                        </li>
                        <!-- Single Service -->
                        <li class="single-service media py-2">
                            <div class="service-icon pr-4">
                                <span><i class="fas fa-quote-left"></i></span>
                            </div>
                            <div class="service-text media-body">
                                <p>Su gramática estructural es diferente, no utilizan los artículos y preposiciones;
                                    escriben en tiempo presente.
                                </p>
                            </div>
                        </li>
                        <!-- Single Service -->
                        <li class="single-service media py-2">
                            <div class="service-icon pr-4">
                                <span><i class="fas fa-assistive-listening-systems"></i></span>
                            </div>
                            <div class="service-text media-body">
                                <p>Perciben la música por medio de vibraciones, tiene la vista periférica, muchas
                                    personas Sordas se auxilian de un aparato auditivo, La utilización de aparato
                                    auditivo no significa que ya escuchan bien, sino solamente es un sonido que reciben,
                                    No hay que gritarle, esto no ayudará.
                                </p>
                            </div>
                        </li>
                        <!-- Single Service -->
                        <li class="single-service media py-2">
                            <div class="service-icon pr-4">
                                <span><i class="fa fa-sign-language"></i></span> 
                            </div>
                            <div class="service-text media-body">
                                <p>Si usted no entiende lo que le dijo pida que se lo repita, puede auxiliar de un lápiz
                                    y papel; si es un niño que no sabe aún leer y escribir trate de mostrar objetos o
                                    indicar al lugar que es lo que necesita; haga gestos, pero sin exagerar, ya que esto
                                    los haría sentir mal.</p>
                            </div>
                        </li>
                    </ul>
                  <!--<a href="#" class="btn btn-bordered mt-4">Discover More</a>-->
                </div>
            </div>
            <div class="col-12 col-lg-4 order-1 order-lg-2">
                <!-- Service Thumb -->
                <div class="service-thumb mx-auto">
                    <!-- Thumb Top -->
                    <div class="thumb-top">
                        <img src="assets/img/service_thumb_top.png" alt="">
                    </div>
                    <!-- Thumb Certer -->
                    <div class="thumb-center">
                        <img src="assets/img/service_thumb.png" alt="">
                    </div>
                    <!-- Thumb Bottom -->
                    <div class="thumb-bottom">
                        <img src="assets/img/service_thumb_bottom.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>