<section id="features" class="section features-area ptb_100">
    <div class="shapes-container">
        <div class="shape-1"></div>
    </div>
    <div class="container">
        <div class="row d-none d-md-block">
            <div class="col-12">
                <div class="row d-flex justify-content-center features-content border-bottom pb-5">
                    <div class="col-12 col-md-4">
                        <!-- Media Box -->
                        <div class="media-box media rounded-sm p-1 p-lg-4">
                            <!-- Features Icon -->
                            <div class="features-icon pr-3">
                                <span>
                                    <i class="icofont-dart"></i>
                                </span>
                            </div>
                            <!-- Features Text -->
                            <div class="media-body">
                                <h3 class="mb-2">Objetivo AMALENSEGUA</h3>
                                <p class="d-none d-lg-block">Somos una Institución académica de Lengua de Señas de Amatitlán...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <!-- Media Box -->
                        <div class="media-box media rounded-sm p-1 p-lg-4">
                            <!-- Features Icon -->
                            <div class="features-icon pr-3">
                                <span>
                                    <i class="icofont-read-book"></i>
                                </span>
                            </div>
                            <!-- Features Text -->
                            <div class="media-body">
                                <h3 class="mb-2">Misión</h3>
                                <p class="d-none d-lg-block">Promover al sordo en actividades para que puedan valerse por sí mismo...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <!-- Media Box -->
                        <div class="media-box media rounded-sm p-1 p-lg-4">
                            <!-- Features Icon -->
                            <div class="features-icon pr-3">
                                <span>
                                    <i class="icofont-eye"></i>
                                </span>
                            </div>
                            <!-- Features Text -->
                            <div class="media-body">
                                <h3 class="mb-2">Visión</h3>
                                <p class="d-none d-lg-block">Ver que nuestro Amatitlán vea la Comunidad Sorda integrada a la Sociedad ...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row features-slider owl-carousel pt-md-5">
            <div class="col-12 py-md-3">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-6">
                        <!-- About Text -->
                        <div class="about-text">
                            <!-- Headings -->
                            <div class="headings d-flex align-items-center mb-4">
                                <h2 class="text-capitalize">Lengua de Señas Amatitlán"AMALENSEGUA"</h2>
                            </div>
                            <p class="my-3">Somos una Institución académica de Lengua de Señas de Amatitlán.</p>
                            <p class="d-none d-sm-block my-3">Tenemos como objetivo; difundir la Lengua de Señas como parte de nuestras vidas y apoyar a la Comunidad Sorda, dándoles oportunidades al acceso a la Comunicación.</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 pt-sm-5 pt-lg-0 d-none d-md-block">
                        <!-- Features Thumb -->
                        <div class="features-thumb text-center">
                            <img src="assets/img/features_thumb_1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 py-md-3">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-6">
                        <!-- About Text -->
                        <div class="about-text">
                            <!-- Headings -->
                            <div class="headings d-flex align-items-center mb-4">
                                <h2 class="text-capitalize"> Misión</h2>
                            </div>
                            <p class="my-3">- Promover al sordo en actividades para que puedan valerse por sí mismo.</p>
                            <p class="my-3">- Apoyar los derechos de igualdad de oportunidades.</p>
                            <p class="my-3">- Conocer su cultura sorda.</p>
                            <p class="my-3">- Conocer su gramática</p>
                            <!-- Video Icon -->
                            <div class="video-icon d-grid">
                                <strong class="text-uppercase mb-3">Echa un vistazo</strong>
                                <!-- Play Button -->
                                <a class="play-btn" data-fancybox href="https://www.youtube.com/watch?v=vVs3-4pis9k&ab_channel=MinisteriodeEducaci%C3%B3ndeGuatemala">
                                    <div class="btn-circle play-animation"></div>
                                    <div class="btn-circle play-animation animation-short"></div>
                                    <!-- Play Icon -->
                                    <div class="play-icon">
                                        <i class="fas fa-play"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 pt-sm-5 pt-lg-0 d-none d-md-block">
                        <!-- Features Thumb -->
                        <div class="features-thumb text-center">
                            <img src="assets/img/features_thumb_2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 py-md-3">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-6">
                        <!-- About Text -->
                        <div class="about-text">
                            <!-- Headings -->
                            <div class="headings d-flex align-items-center mb-4">
                                <h2 class="text-capitalize">Visión</h2>
                            </div>
                            <p class="my-3">- Ver que nuestro Amatitlán vea la Comunidad Sorda integrada a la Sociedad gozando de los mismo derechos e igualdad de muchas oportunidades.
                            </p>
                            <p class="d-none d-sm-block my-3">- Realizar proyectos para concientizar temas que nos ayude a poder comprender más a nuestros hijos y a la Comunidad Sorda.
                            </p>
                        <!--<a href="#" class="btn btn-bordered">Learn More</a>-->
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 pt-sm-5 pt-lg-0 d-none d-md-block">
                        <!-- Features Thumb -->
                        <div class="features-thumb text-center">
                            <img src="assets/img/features_thumb_3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>