<section id="benifits" class="section benifits-area">
    <div class="container">
        <div class="row">
            <!-- Benifits Item -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="benifits-item text-center p-3">
                    <div class="feature-icon avatar-lg mx-auto mb-2">
                        <img src="assets/img/promo_1.png" alt="">
                    </div>
                    <!-- Benifits Text -->
                    <div class="benifits-text">
                        <h3 class="mb-2">Proceso de Iniciativa No. 3932</h3>
                        <p>2008 Inició el proceso de iniciativa de la Ley de Lengua de Señas No. 3932 y llegó a segunda lectura en el congreso.</p>
                    </div>
                </div>
            </div>
            <!-- Benifits Item -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="benifits-item text-center p-3">
                    <div class="feature-icon avatar-lg mx-auto mb-2">
                        <img src="assets/img/promo_2.png" alt="">
                    </div>
                    <!-- Benifits Text -->
                    <div class="benifits-text">
                        <h3 class="mb-2">Nueva iniciativa No. 5128</h3>
                        <p>2016 Se presenta nueva iniciativa 5128 y solo obtuvo el dictamen favorable de Comisión de Educación y Discapacidad.</p>
                    </div>
                </div>
            </div>
            <!-- Benifits Item -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="benifits-item text-center p-3">
                    <div class="feature-icon avatar-lg mx-auto mb-2">
                        <img src="assets/img/promo_3.png" alt="">
                    </div>
                    <!-- Benifits Text -->
                    <div class="benifits-text">
                        <h3 class="mb-2">Iniciativa con asesoramiento del Congreso No. 5603</h3>
                        <p>2019 Con el asesoramiento del Congreso de la República, se presenta una nueva iniciavita No. 5603</p>
                    </div>
                </div>
            </div>
            <!-- Benifits Item -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="benifits-item text-center p-3">
                    <div class="feature-icon avatar-lg mx-auto mb-2">
                        <img src="assets/img/promo_4.png" alt="">
                    </div>
                    <!-- Benifits Text -->
                    <div class="benifits-text">
                        <h3 class="mb-2">Aprobación Ley de Lengua de Señas GUATEMALA</h3>
                        <p>2020 Declaran la aprobación de la Ley de Lengua de Señas en Guatemala, con el decreto 03-2020.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>