<section class="section faq-area ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-6">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2 class="text-capitalize">Temas importantes de la persona Sorda</h2>
                    <p class="d-none d-sm-block mt-4"> El martes 28 de enero 2020, el Congreso de la Republica de
                        Guatemala aprobó la Ley que reconoce y aprueba la Lengua de señas de Guatemala, LENSEGUA,
                        Decreto 3-2020
                    </p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- FAQ Content -->
                <div class="faq-content">
                    <!-- Appia Accordion -->
                    <div class="accordion" id="appia-accordion">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <!-- Single Accordion Item -->
                                <div class="card my-2">
                                    <!-- Card Header -->
                                    <div class="card-header">
                                        <h2 class="mb-0">
                                            <button class="btn" type="button" data-toggle="collapse"
                                                data-target="#collapseOne">
                                                23 de sept. Se Conmemora el Día Nacional de la Lengua de Señas

                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#appia-accordion">
                                        <!-- Card Body -->
                                        <div class="card-body">
                                            Fue la fecha en que se estableció la Federación Mundial de Sordos (FMS) EN
                                            1951, ese día marca el nacimiento de una organización, que tiene como uno de
                                            sus principales objetivos, de conservar la Lengua de Señas y la Cultura
                                            Sorda como prerrequisitos para la realización de los derechos humanos de las
                                            personas Sordas.
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Accordion Item -->
                                <div class="card my-2">
                                    <!-- Card Header -->
                                    <div class="card-header">
                                        <h2 class="mb-0">
                                            <button class="btn collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseTwo">
                                                30 de sept. Día Internacional del Intérprete de Lengua de Señas
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-parent="#appia-accordion">
                                        <!-- Card Body -->
                                        <div class="card-body">
                                            En Guatemala las Asociaciones de personas Sordas e Intérpretes promovieron
                                            la unidad el trabajo en equipo y juntos lucharon por los derechos del Sordo,
                                            sobre todo el derecho que tienen ellos al acceso a la comunicación y
                                            declarar en el país el idioma como una lengua Oficial para la Comunidad, es
                                            por ello que los sordos se toman el tiempo para celebrar en equipo su idioma
                                            que los distingue y les da una Identidad.

                                        </div>
                                    </div>
                                </div>
                                <!-- Single Accordion Item -->
                                <div class="card my-2">
                                    <!-- Card Header -->
                                    <div class="card-header">
                                        <h2 class="mb-0">
                                            <button class="btn collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseThree">
                                                Discapacidad Auditiva
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseThree" class="collapse" data-parent="#appia-accordion">
                                        <!-- Card Body -->
                                        <div class="card-body">
                                            - Definición: déficit total o parcial de la percepción auditiva que afecta
                                            principalmente a la comunicación.
                                            - Descripción de la palabra Discapacidad:
                                            es la limitación de alguna dificultad física o mental que imposibilita o
                                            dificulta el desarrollo normal de la actividad de una persona.

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <!-- Single Accordion Item -->
                                <div class="card my-2">
                                    <!-- Card Header -->
                                    <div class="card-header">
                                        <h2 class="mb-0">
                                            <button class="btn collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseFour">
                                                Hipoacusia
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseFour" class="collapse" data-parent="#appia-accordion">
                                        <!-- Card Body -->
                                        <div class="card-body">
                                            Es la pérdida parcial de la percepción del sonido, en su mayoría los sonidos
                                            graves. Las personas con hipoacusia son capaces de tener comunicación oral
                                            bastante
                                            acertada.

                                        </div>
                                    </div>
                                </div>
                                <!-- Single Accordion Item -->
                                <div class="card my-2">
                                    <!-- Card Header -->
                                    <div class="card-header">
                                        <h2 class="mb-0">
                                            <button class="btn" type="button" data-toggle="collapse"
                                                data-target="#collapseFive">
                                                El uso de la seña o apodo
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseFive" class="collapse show" data-parent="#appia-accordion">
                                        <!-- Card Body -->
                                        <div class="card-body">
                                            Los Sordos tienen una seña o un apodo que los identifica.
                                            Estas señas son creadas por características peculiares de las personas.
                                            Ejemplo: Yeimi
                                            Tiene su historia: mi hermana es Sorda y se reía al verme porque me decía
                                            que si estaba hablando o me estaba riendo y ahí fue que me quedó esta seña
                                            porque mi boca es pequeña.
                                            Esto es porque los Sordos son muy observadores.
                                            Y con esta pequeña seña o apodo nos podemos presentar con una persona Sorda.
                                            Las personas Sordas pueden Bautizarlas con una seña o un apodo
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Accordion Item -->
                                <div class="card my-2">
                                    <!-- Card Header -->
                                    <div class="card-header">
                                        <h2 class="mb-0">
                                            <button class="btn collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapseSix">
                                                La importancia del alfabeto 
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseSix" class="collapse" data-parent="#appia-accordion">
                                        <!-- Card Body -->
                                        <div class="card-body">
                                            Nos ayuda para poder presentarnos, podemos construir una palabra. 
                                            Por ejemplo:   Manuel
                                            Se utiliza solamente nombres completos o palabras que aún no tienen señas.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>