<section class="section team-area ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-6">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2 class="text-capitalize">Personal AMALENSEGUA</h2>
                    <p class="d-none d-sm-block mt-4"> Profesionales que interpretan y traducen mensajes emitidos en
                        lengua de signos a la lengua oral y escrita, y viceversa, con el fin de favorecer la
                        comunicación entre las personas sordas, con discapacidad auditiva y sordociegas y las personas
                        oyentes.</p>
                    <p class="d-block d-sm-none mt-4">Profesionales que interpretan y traducen mensajes emitidos en
                        lengua de signos a la lengua oral y escrita, y viceversa, con el fin de favorecer la
                        comunicación entre las personas sordas, con discapacidad auditiva y sordociegas y las personas
                        oyentes.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <!-- Single Team -->
                <div class="single-team text-center m-2 m-lg-0">
                    <!-- Team Thumb -->
                    <div class="team-thumb d-inline-block position-relative overflow-hidden">
                        <img class="rounded-circle" src="assets/img/avatar_1.png" alt="">
                        <!-- Team Overlay -->
                        <div class="team-overlay bg-overlay rounded-circle">
                            <h4 class="team-name text-white">Yeimi Araujo</h4>
                            <h5 class="team-post text-white mt-2 mb-3">Directora</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <!-- Single Team -->
                <div class="single-team text-center m-2 m-lg-0">
                    <!-- Team Thumb -->
                    <div class="team-thumb d-inline-block position-relative overflow-hidden">
                        <img class="rounded-circle" src="assets/img/avatar_2.png" alt="">
                        <!-- Team Overlay -->
                        <div class="team-overlay bg-overlay rounded-circle">
                            <h4 class="team-name text-white">Jean Carlos Zuñiga</h4>
                            <h5 class="team-post text-white mt-2 mb-3">Instructor</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <!-- Single Team -->
                <div class="single-team text-center m-2 m-lg-0">
                    <!-- Team Thumb -->
                    <div class="team-thumb d-inline-block position-relative overflow-hidden">
                        <img class="rounded-circle" src="assets/img/avatar_3.png" alt="">
                        <!-- Team Overlay -->
                        <div class="team-overlay bg-overlay rounded-circle">
                            <h4 class="team-name text-white">Mirza Santizo</h4>
                            <h5 class="team-post text-white mt-2 mb-3">Instructora</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <!-- Single Team -->
                <div class="single-team text-center m-2 m-lg-0">
                    <!-- Team Thumb -->
                    <div class="team-thumb d-inline-block position-relative overflow-hidden">
                        <img class="rounded-circle" src="assets/img/avatar_4.png" alt="">
                        <!-- Team Overlay -->
                        <div class="team-overlay bg-overlay rounded-circle">
                            <h4 class="team-name text-white">Yasmin Akter</h4>
                            <h5 class="team-post text-white mt-2 mb-3">Graphic Designer</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>