<section class="section discover-area ptb_100">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-5">
                <!-- Discover Thumb -->
                <div class="service-thumb discover-thumb mx-auto">
                    <!-- Thumb Top -->
                    <div class="thumb-top">
                        <img src="assets/img/discover_thumb_top.png" alt="">
                    </div>
                    <!-- Thumb Certer -->
                    <div class="thumb-center">
                        <img src="assets/img/discover_thumb.png" alt="">
                    </div>
                    <!-- Thumb Bottom -->
                    <div class="thumb-bottom">
                        <img src="assets/img/discover_thumb_bottom.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-7">
                <!-- Discover Text -->
                <div class="discover-text pt-4 pt-lg-0">
                    <h2 class="text-capitalize">Conozcamos palabras incorrectas y correctas</h2>
                    <p class="pt-2 pb-4">Una palabra mal escrita puede cambiar el sentido a lo que se quiere expresar.
                    </p>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <!-- Icon Box -->
                            <div class="icon-box media icon-1 px-1 py-3 py-md-4">
                                <!-- Icon -->
                                <div class="icon rounded-circle border mr-3">
                                    <span><i class="icofont-ui-close"></i></span>
                                </div>
                                <!-- Icon Text -->
                                <div class="icon-text media-body align-self-center align-self-md-start">
                                    <h3 class="mb-2">Palabra INCORRECTA "Sordomuda"</h3>
                                    <p>Como no oyen no ha podido aprender el lenguaje, pero no tienen ningún problema en
                                        la voz, por lo tanto; no son MUDAS.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <!-- Icon Box -->
                            <div class="icon-box media icon-2 px-1 py-3 py-md-4">
                                <!-- Icon -->
                                <div class="icon rounded-circle border mr-3">
                                    <span><i class="icofont-ui-check"></i></span>
                                </div>
                                <!-- Icon Text -->
                                <div class="icon-text media-body align-self-center align-self-md-start">
                                    <h3 class="mb-2">Palabra CORRECTA "sordo"</h3>
                                    <p>Al escribirse con minúscula, designa a las personas que padecen
                                        discapacidad auditiva severa, esto es desde el punto de vista de un médico.
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <!-- Icon Box -->
                            <div class="icon-box media icon-3 px-1 py-3 py-md-4">
                                <!-- Icon -->
                                <div class="icon rounded-circle border mr-3">
                                    <span><i class="icofont-exclamation-circle"></i></span>
                                </div>
                                <!-- Icon Text -->
                                <div class="icon-text media-body align-self-center align-self-md-start">
                                    <h3 class="mb-2">Términos usados incorrectamente</h3>
                                    <p>Son términos que toman acción de burla, pueden provocar que la persona se sienta
                                        triste, herida, mal genio. </p>
                                    <p>- Sordito.</p>
                                    <p>- Discapacitado (dito). </p>
                                    <p>- Sordomudo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <!-- Icon Box -->
                            <div class="icon-box media icon-4 px-1 py-3 py-md-4">
                                <!-- Icon -->
                                <div class="icon rounded-circle border mr-3">
                                    <span><i class="icofont-ui-edit"></i></span>
                                </div>
                                <!-- Icon Text -->
                                <div class="icon-text media-body align-self-center align-self-md-start">
                                    <h3 class="mb-2">Cuando escribamos la palabra "Sordo"</h3>
                                    <p>Al escribirse con mayúscula, denomina a las personas cuya primera
                                        lengua, es la lengua de señas y que son peculiaridades culturales, les da una
                                        Identidad.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>