<section class="start-free-area">
    <div class="container">
        <div class="col-12">
            <!-- Start Free Content -->
            <div class="start-free-content d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between shadow-lg" data-aos="fade-up" data-aos-duration="800">
                <!-- Start Free Content -->
                <div class="start-free-text">
                    <strong>Las clases tienen material de apoyo</strong>
                    <h2 class="my-2">AMALENSEGUA APP</h2>
                    <span>Ingresa, refuerza y aprende.</span>
                </div>
                <!-- Start Free Button -->
                <div class="start-free-btn mt-4 mt-lg-0">
                    <a href="#" class="btn btn-bordered"><span>Ingresar</span></a>
                </div>
            </div>
        </div>
    </div>
</section>